REACT_APP_LICENSE_OWNER=XXX
REACT_APP_LICENSE_TYPE=development
REACT_APP_ENTITY_TYPE=contact
REACT_APP_HUBSPOT_ID=YYY
REACT_APP_CLOUD_ORG_ID=ZZZ
REACT_APP_IS_CLOUD_DEPLOYMENT=true
REACT_APP_HEAP_APP_ID=YOUR_HEAP_APP_ID
REACT_APP_USER_EMAIL=test@tyk.io
REACT_APP_VERSION=v1.0